<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, Добро Пожаловать На Codenamecrud.ru</h1>
    <p>
      Вы благополучно зарегистрировались на нашем сайте www.codenamecrud.ru
    </p>
    <p>
      To login to the site, just follow this link: <%= @url  %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>