<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привет, <%= @user.name %>!</h1>
    <p>
      Спасибо за регистрацию на codenamecrud.ru :)
    </p>
    <p>
      Мы надеемся, что наш образовательный проект поможет вам в изучении веб-разработки. Если вы будете достаточно усердно заниматься по теоретическим и практическим урокам, в конце концов полученные знания позволят устроиться на работу в качестве веб-разработчика или успешно написать свой первый самостоятельный проект!
    </p>
    <p>
      Чтобы войти на сайт, перейдите по ссылке: <%= @url  %>.
    </p>
    <p>Желаем вам с интересом и пользой провести время, изучая наши материалы!</p>
    
    <p>С уважением, команда CodenameCRUD</p>
  </body>
</html>
