<div class="hidden-xs hidden-sm">
  <a href="https://mkdev.me">
    <%= image_tag('mkdev-horizontal.png') %>
  </a>
</div>

<div class="hidden-md hidden-lg">
  <a href="https://mkdev.me">
    <%= image_tag('mkdev-horizontal-mobile.png') %>
  </a>
</div>
