<div class="hidden-xs hidden-sm">
  <a href="http://www.thinknetica.com?utm_source=codenamecrud">
    <%= image_tag('thinknetica-horizontal.png') %>
  </a>
</div>

<div class="hidden-md hidden-lg">
  <a href="http://www.thinknetica.com?utm_source=codenamecrud">
    <%= image_tag('thinknetica-horizontal-mobile.png') %>
  </a>
</div>
