<div class="hidden-xs hidden-sm">
  <a href="https://mkdev.me/courses/4/?utm_source=codenamecrud">
    <%= image_tag('mkdev-bottom-wide.png') %>
  </a>
</div>

<div class="hidden-md hidden-lg">
  <a href="https://mkdev.me/courses/4/?utm_source=codenamecrud">
    <%= image_tag('mkdev-bottom-small.png') %>
  </a>
</div>
