<div class="hidden-xs hidden-sm">
  <a href="http://leanpub.com/deploying_rails_applications-ru/c/mQOkH7qjje6r">
    <%= image_tag 'awesomeness/bottom_wide_horizontal.png' %>
  </a>
</div>

<div class="hidden-md hidden-lg">
  <a href="http://leanpub.com/deploying_rails_applications-ru/c/aGO7HY8RmFsm">
    <%= image_tag 'awesomeness/square_mobile.png' %>
  </a>
</div>
