<div class="hidden-xs">
  <a href="http://leanpub.com/deploying_rails_applications-ru/c/J0InrJTpef5N">
    <%= image_tag 'awesomeness/vertical.png' %>
  </a>
</div>

<!-- <a href="http://www.thinknetica.com/?utm_source=codenamecrud&utm_medium=banner&utm_content=banner1&utm_campaign=ror-9">
  <%= image_tag('thinknetica-vertical.png') %>
</a>
 -->
