<div class="hidden-xs">
</div>

<!-- <a href="http://www.thinknetica.com/?utm_source=codenamecrud&utm_medium=banner&utm_content=banner1&utm_campaign=ror-9">
  <%= image_tag('thinknetica-vertical.png') %>
</a>
 -->
