h1 Быстрая статистика

h3 = "Курсов: #{@courses_count}/7"

h3 = "Разделов: #{@sections_count}"

h3 = "Уроков: #{@lessons_count}/179 (#{@lessons_percent}%)"

h3 = "Выполеннных уроков: #{@completed_lessons_count}"

h3 = "Пользователей: #{@users_count}"
