<!-- Button trigger modal -->
<div class="text-center">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Подписаться на обновления курсов
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Форма подписки</h4>
      </div>
      <div class="modal-body">
        <p>
          Оставьте свой почтовый адрес, чтобы получать письма, когда мы выпустим следующий курс :)
        </p>
<% unless Rails.env.test? %>

        <iframe src="https://docs.google.com/forms/d/1UwkTSl0BJlHE97LcwB502CVNTsEvlhOq8B9Updgd2aM/viewform?embedded=true" width="560" height="500" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
