// Variables
$bold: 400

@font-face
  font-family: 'HelveticaNeueCyr'
  src: font-url('HelveticaNeueCyr-Roman.otf')

/* Sticky footer styles */
html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-bottom: 108px
  overflow-x: hidden
  font-family: 'HelveticaNeueCyr'
  background: #FFF
  color: #000
  font-size: 16px

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 80px
  background-color: #f5f5f5

/* Custom page CSS */
/* Not required for template or sticky footer method. */

.contributor
  display: inline-block

body > .container
  padding: 0px 15px

.container .text-muted
  margin: 20px 0

.footer > .container
  padding-right: 15px
  padding-left: 15px

/* Common */
footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 60px
  padding: 10px
  background-color: #f5f5f5

  a
    padding: 0 20px

h1, h2, h3, h4, h5, h6
  font-weight: $bold

  a
    font-weight: $bold
    &:hover
      text-decoration: none

a
  &:hover
    text-decoration: none

.alert
  z-index: 999
  position: absolute

/* Courses */
.courses
  margin-top: 25px
  h3
    margin-top: 0
  img
    margin-top: 10px

ul
  padding: 0

.courses-list, .lessons-list
  margin-top: 50px
  margin-bottom: 50px
  list-style-type: none

  .link-to-lesson
    h3
      transition: all 0.4s ease-in-out
      &:hover
        transform:         translate(10px,0)
        -webkit-transform: translate(10px,0)
        -moz-transform:    translate(10px,0)
        -o-transform:      translate(10px,0)

  .toggle-check
    z-index: 5
    position: absolute
    margin-top: 25px
    margin-left: -30px
    background-color: white!important

  a.mark-as-completed
    color: gray

  a.mark-as-uncompleted
    color: green

  .lesson-description
    margin-left: 90px
    color: gray

  .teaser
    color: orange

  li.row.course
    margin-bottom: 30px

.course-description, .section-description
  font-size: 18px

.you-learn, .you-build
  li
    font-style: italic

  h3
    text-decoration: underline

/* Lessons */

.lesson
  h1, h2
    padding-bottom: 20px

  .content
    p
      font-size: 18px
      margin: 30px 0

    ul
      li
        font-size: 18px

    blockquote
      p
        color: gray
        font-size: 20px

  .lessons-bottom-navigation
    margin: 50px 0

    a
      display: inline-block
      margin: 0 50px
      .glyphicon
        font-size: 50px
        color: gray

/* Activities */
.activity
  font-size: 16px

/* Banner */
.banner
  box-shadow: 0 0 20px #888
  position: relative
  overflow: hidden

  img
    position: relative
    min-width: 960px
    min-height: 300px
    width: 100%

.intro-text
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  color: #FFF
  background: rgba(0,0,0,0.5)
  text-align: center

  h1
    position: relative
    top: 33%
    left: 0
    font-size: 42px

    @media (max-width: 1170px)
      font-size: 36px

  p
    position: relative
    left: 0
    width: 100%
    font-size: 18px
    @media (max-width: 1170px)
      font-size: 16px
  .now
    color: #ff7f00
    top: 33%
  .link
    top: 45%
    @media (max-width: 767px)
      top: 35%
    a
      background: #00b285
      padding: 10px 25px
      font-size: 18px
      border: none
  .next
    position: absolute
    bottom: 0

/* Blocks */
.container.about, .container.future, .container.fire, .container.course
  width: 100%
  padding: 0 20%
  border-bottom: 1px solid #dddddd
  @media (max-width: 995px)
    padding: 0
  @media (min-width: 996px) and (max-width: 1170px)
    padding: 0 10%
  h2
    margin: 20px 0 25px
    font-size: 42px

.about-list
  margin: 30px 0 50px
  text-align: center
  h3
    color: #ff7f00
  .about-block
    margin: 50px 0 0
  img
    margin: 0 auto

.container.fire
  background: #333333
  h2, p
    color: #FFF

.container.course
  background: #eeeeee

.finish
  width: 100%
  padding: 0 20%
  background: #FFF
  @media (max-width: 995px)
    padding: 0
  @media (min-width: 996px) and (max-width: 1170px)
    padding: 0 10%
  h2
    margin: 20px 0 25px
    font-size: 42px
    color: #666666
  p:last-child
    margin-bottom: 50px
  .btn
    margin: 20px 10px
    background: #00b285
    padding: 10px 25px
    font-size: 18px
    border: none
    @media (max-width: 767px)
      margin: 20px 2px
      padding: 10px

.navbar-default
  .navbar-nav > li > a, .navbar-brand
    color: #000
.navbar
  margin-bottom: 0
  color: #000
  .navbar-brand
    background-image: image-url('logo.png')
    background-repeat: no-repeat
    background-size: 39px 39px
    background-position: 10px 5px
    padding-left: 60px

footer
  &.footer
    height: 102px
    background-color: #eeeeee
    border-top: 1px solid #dddddd
  a, .text-center
    color: #000
  .text-center:first-child
    margin-bottom: 20px